nav .navbar-collapse a {
    color: #f8f9fa !important;
}

.card-deck {
    margin-top: -0.5em
}

.page-footer {
    margin-top: -1em;
}

a:link {
    color: rgb(0, 200, 200);
}

a:visited {
    color: rgb(0, 120, 120);
}