body {
    background-color: black;
    color: #ffb000;
    /*font-family: 'Courier New', Courier, monospace;*/
    font-family: 'MS Gothic', 'Courier New', Courier, monospace;
    font-weight: 900;
    line-height: 110%;
    padding-top: 2vh;
    padding-bottom: 2vh;
}

/* Tablet */
@media (min-width:600px) {
    body {
        padding-left: 3%;
        padding-left: 3%;
    }
}

/* Desktop */
@media (min-width:900px) {
    body {
        padding-left: 20%;
        padding-right: 20%;
    }
}

@media (min-width:1000px) {
    body {
        padding-left: 30%;
        padding-right: 30%;
    }
}

body #boldest {
    text-shadow: 1px 0 #ffb000;
    letter-spacing: 1px;
}

a {
    color: #ffb000;
    text-underline-offset: 1px;
}

#main {
    justify-content: center;
    text-align: left;
    word-wrap: break-word;
}

#links {
    text-align: center;
}

#caret {
    background-color: #ffb000;
    white-space: pre;
    display: inline;
}

#main p {
    display: inline;
    white-space: pre-wrap;
}